html,body {
  height: 100%;
  background-color: #d3f0fd;
}

.all_body {
    padding: 30px;
}

input {
    display: block;
}

select {
    display: block;
}

.barra {
    display:flex;
}

.menu {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 100px;
}

.foto-menu {
    width:30px;
    height:30px;
    object-fit:cover;
    border-radius:50%;
}

.foto-perfil {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
}

#hero_img {
    width: 90%;
}

#sticky-footer {
    flex-shrink: none;
}

#description {
    color: black;
    font-size: 1.3rem;
}