html,body {
  background-color: #eff2f5;
}

input {
    display: block;
}

select {
    display: block;
}

.barra {
    display:flex;
}

.menu {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 100px;
}

.foto-menu {
    width:30px;
    height:30px;
    object-fit:cover;
    border-radius:50%;
}

.foto-perfil {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
}

#hero_img {
    width: 100%;
    padding-left: 4rem;
}

#sticky-footer {
    flex-shrink: none;
}

#description {
    color: #333333;
    font-size: 1.4rem;
    line-height:30pt;
}

.titulo {
    line-height:40pt;
    font-family:'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight: bold;
}

.texto {
    font-size: 1.1rem;
    color: #333333;
}

::selection {
    background: #efc026;
}

#boton {
    font-size:1.1rem;
    color:#333333;
    border-radius: 2rem;
    border-color:#efc026;
    font-weight:bold;
    background:#efc026;
}

#boton:hover {
    background: #ffb703;
}

#boton2 {
    color:#333333;
    border-color:#333333;
}

#boton2:hover {
    background: #efc026;
}

#boton3 {
    color:#333333;
    border-color:#efc026;
    background:#efc026;
}

#boton3:hover {
    background: #ffb703;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}