{% extends "domilang/layout.html" %}

{% block body %}

    <h2>This is your inbox!</h2>
    <p>You don't have any messages yet</p>

    {{ message }}

    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title">Messages</h2>
                        <p class="card-text">Connect with fellow Trailblazers by sending them a message.</p>
                        <a href="#" class="btn btn-primary">New message</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-9">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title">You don't have a message selected</h2>
                        <p class="card-text">Choose an existing message or create a new one.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}