{% extends "domilang/layout.html" %}

{% block body %}

    <h2>Get inroll in a new course!</h2>
    <p>Pick the language you want to learn, then pick the theacher you like most, and then arrange a class! Simple as that!</p>

    {{ message }}

    <div class="container-fluid">
      <div class="row">
        {% for profe in profes %}
          <div class="card" style="width: 15rem;">
            <img src="{{ profe.foto.url }}" class="card-img-top" alt="portrait">
            <div class="card-body">
              <h5 class="card-title">{{ profe.first_name }} {{ profe.last_name }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Arrange a class!</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}