{% extends "domilang/layout.html" %}

{% block body %}

    <h2>Welcome to your profile!</h2>

    <div class="col-md-6 col-xs-12">
        {% if user.is_authenticated %}
            <img src="{{ user.foto.url }}" alt="Your pic" width="200" class="foto-perfil">
            <p>Your first name is <strong>{{ user.first_name }}</strong>.</p>
            <p>Your last name is <strong>{{ user.last_name }}</strong>.</p>
            <p>Your email is <strong>{{ user.email }}</strong>.</p>
            <p>Your native language is <strong>{{ user.native_lan }}</strong>.</p>
            <p>Your picture url is <strong>{{ user.foto }}</strong>.</p>
            <p>Your country is <strong>{{ user.pais }}</strong>.</p>
            <p>Your time zone is <strong>{{ user.franja }}</strong>.</p>
            <p>Your level is <strong>{{ user.nivel }}</strong>.</p>
            <p>Your study language is <strong>{{ user.study_lan }}</strong>.</p>
            <p>Your phone is <strong>{{ user.phone }}</strong>.</p>
        {% else %}
            Not signed in.
        {% endif %}
    </div>

    <a href="{% url 'domilang:edit' %}">Edit Profile</a>

    <hr>

    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card text-center">
                <div class="card-body">
                    <img class="foto-perfil" src="{{ user.foto.url }}" alt="Your pic" width="65">
                    
                    <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                    <br>
                    {{ user.study_lan }} learner.
                    <br>
                    <small>{{ user.pais }}</small>
                   
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}