{% extends "domilang/layout.html" %}

{% block body %}

	{% if message %}
		<div>{{ message }}</div>
	{% endif %}

	<div class="container col-xl-10 col-xxl-8 px-4 py-2">
		<div class="row align-items-center g-lg-5 py-4">
			<div class="col-lg-7 text-lg-start">
				<h1 class="display-2 lh-1 mb-3">Vertically centered hero sign-up form</h1>
				<p class="lead col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
			</div>
			<div class="col-md-10 mx-auto col-lg-5 custom-control">
				<form class="p-4 p-md-5 border bg-secondary" action="{% url 'domilang:register' %}" method="post">
					{% csrf_token %}
					<div class="form-floating mb-3">
						<input type="email" class="form-control form-control-alternative" id="floatingInput" placeholder="YourEmail@example.com" name="email">
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control form-control-alternative" id="floatingPassword" placeholder="Password" name="password">
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control form-control-alternative" id="floatingPassword" placeholder="Confirm Password" name="confirmation">
					</div>
					<div class="custom-checkbox py-3">
						<input type="checkbox" class="custom-control-input" id="customCheck1">
						<label class="custom-control-label" for="customCheck1">Remember me</label>
					</div>
					<button class="w-100 btn btn-primary" type="submit">Sign up</button>
				</form>
			</div>
		</div>
		<div class="row align-items-end">
			<div class="col">
				Already have an account? <a href="{% url 'domilang:login' %}">Log In here.</a>
			</div>
		</div>
	</div>

{% endblock %}