{% extends "domilang/layout.html" %}
{% load static%}

{% block body %}

	<div class="container-fluid my-6">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card">
					<div class="card-body">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-2">
								<img class="foto-perfil" src="{{ user.foto.url }}" alt="Your pic" width="65">
							</div>
							<div class="col-md-5">
								<h2 class="display-3" style="font-weight: 700; color: #003a78;">{{ user.first_name }} {{ user.last_name }}</h2>
								<p class="texto">
									English Lessons from Beginner to Proficiency - 
									Certified TEFL Tutor, Great with KIDS, BUSINESS Background.
								</p>
							</div>
							<div class="col-md-3">
								<p>
									<span style="font-weight: 500; color: #003a78;">Native Language:</span> Spanish
								</p>
								<p>
									<span style="font-weight: 500; color: #003a78;">Other Languages:</span> English
								</p>
										
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="card text-center">
					<div class="card-body m-3">
						<div class="row mb-4">
							<div class="col-md-3">
								<h3>Schedule</h3>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="table-responsive">
								<table class="table align-items-center">
									<thead class="thead-light">
										<tr>
											{% for day in days %}
												<th scope="col" class="sort" data-sort="name">{{ day }}</th>
											{% endfor %}
										</tr>
									</thead>
									<tbody class="list">
										{% for period in periods %}
											<tr>
												<td>
													<span class="badge badge-dot">
														{% if period in listix.monday %}
															<i class="bg-success"></i>
														{% else %}
															<i class="bg-warning"></i>
														{% endif %}
														<span class="status">{{ period }}</span>
													</span>
												</td>
												<td>
													<span class="badge badge-dot">
														{% if period in listix.tuesday %}
															<i class="bg-success"></i>
														{% else %}
															<i class="bg-warning"></i>
														{% endif %}
														<span class="status">{{ period }}</span>
													</span>
												</td>
												<td>
													<span class="badge badge-dot">
														{% if period in listix.wednesday %}
															<i class="bg-success"></i>
														{% else %}
															<i class="bg-warning"></i>
														{% endif %}
														<span class="status">{{ period }}</span>
													</span>
												</td>
												<td>
													<span class="badge badge-dot">
														{% if period in listix.thursday %}
															<i class="bg-success"></i>
														{% else %}
															<i class="bg-warning"></i>
														{% endif %}
														<span class="status">{{ period }}</span>
													</span>
												</td>
												<td>
													<span class="badge badge-dot">
														{% if period in listix.friday %}
															<i class="bg-success"></i>
														{% else %}
															<i class="bg-warning"></i>
														{% endif %}
														<span class="status">{{ period }}</span>
													</span>
												</td>
												<td>
													<span class="badge badge-dot">
														{% if period in listix.saturday %}
															<i class="bg-success"></i>
														{% else %}
															<i class="bg-warning"></i>
														{% endif %}
														<span class="status">{{ period }}</span>
													</span>
												</td>							
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						{% for ava in debug %}
							{{ ava }}<br>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}